.inversion-lens{
    position: relative;
    width: 22vw;
    height: 55svh;
    overflow: hidden;
}
.about-container{
    min-height: 100vh;
    margin-top: 40vh;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.word {
  white-space: nowrap;
}

.char {
  will-change: color;
}

.about-container .about-title{
    font-family: var(--font-clash-display);
    font-size: clamp(3rem, 5vw, 8rem);
    text-align: center;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    pointer-events: none;
}
.about-container .service-title{
    font-family: var(--font-clash-display);
    font-size: clamp(2.5rem, 5vw, 3.0rem);
    text-align: left;
    margin: 1.5rem 3rem;
    color: var(--accent1);
}

.about-content1{
    position: relative;
    z-index: 2;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    margin-bottom: 3rem;
}
.about-me-description{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
}
.about-me-description p{
    font-family: var(--font-aeonik);
    font-size: clamp(1rem, 2vw, 1.3rem);
    pointer-events: none;
}
.about-me-description p span{
    font-weight: 600;
}
.fill-btn {
    position: relative;
    overflow: hidden;

    width: clamp(90px, 25vw, 130px);
    height: 45px;

    border: none;
    border-radius: 1em;

    background: var(--dark);
    cursor: pointer;

    font-family: var(--font-general-sans);
    font-size: 1rem;

    will-change: transform;
}

.fill-btn .fill-bg {
    position: absolute;
    inset: 0;

    background: var(--accent1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(.65,0,.35,1);

    z-index: 0;
    pointer-events: auto !important;
    
}

/* TEXTE */
.fill-btn .text {
    position: relative;
    z-index: 1;
    display: inline-flex;
    transition: transform 0.4s ease;
    font-size: clamp(0.6rem, 3.5vw, 0.88rem);
    font-family: var(--font-general-sans);
}
.fill-btn:hover .text {
    transform: translateX(2px);
}

.fill-btn .char {
    transition: color 0.25s linear;
    mix-blend-mode: multiply;
    color: white;
}

.fill-btn:hover .fill-bg {
    transform: scaleX(1);
}

.fill-btn:hover .char {
    color: black;
}

/* DÉCALAGE LETTRE PAR LETTRE */
.fill-btn .char {
    transition-delay: calc(var(--i) * 0.04s);
}

.img_inversed{
    position: relative;
    width: 22vw;
    height: 55svh;
}
.sign {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;

    width: 45%;
    height: auto;

    z-index: 3;
    pointer-events: none;
    transform: rotate(-15deg);
}
.magnetic-btn {
    will-change: transform;
    pointer-events: auto !important; /* Force l'interaction */
    cursor: pointer;
}
.magnetic-btn:hover {
    transform: scale(1.05);
}

@media (max-width: 1000px){
    .about-content1{
        flex-direction: column-reverse;
        gap: 3rem;
        padding: 0 2rem;
    }
    .img_inversed, .inversion-lens{
        width: 40vw;
        height: 30svh;
    }
    .about-me-description{
        align-items: center;
        text-align: center;
    }
    .about-container{
    margin-top: 0vh;
}
}
@media (max-width: 500px){
    .img_inversed, .inversion-lens{
        width: 48vw;
        height: 30svh;
    }
    .sign {
    top: 0.8rem;
    left: -0.6rem;

    width: 55%;
}
}
